# main
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=shop_chuoi_ngoc
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

#  mail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=123
EMAIL_USER=email_cua_ban@gmail.com
EMAIL_PASS=password
EMAIL_FROM=email_cua_ban@gmail.com
